.p {
    color: rgb(87, 218, 241);
    background-color: blue;
    font-size: 72px;
}

.h1 {
    color: rgb(43, 95, 23);
    border: 3px dotted rgb(119, 233, 104);
}

.p2 {
    color: rgb(247, 96, 154)
}

.p3 {
    color: rgb(235, 78, 26);
    background-color: rgba(245, 197, 133, 0.849);
    font-size: 42px;
}

.p4 {
    color: fuchsia;
    background-color: rgb(224, 174, 199);

}